.skin-black .main-header .logo {
    background: #303030;
}

.skin-black .main-header .logo:hover {
    background: #303030;
}

.skin-black .main-header > .navbar > .sidebar-toggle {
    border-right :0px
}
