<section class="content-header">
    <h1>Select Estimate Item</h1>
</section>

<section class="content">
    <div class="form-group">
        <ui-select ng-model="blueprintTypeId">
            <ui-select-match placeholder="Select or search a blueprint in the list...">
                <span ng-bind="$select.selected.typeName"></span>
            </ui-select-match>
            <ui-select-choices refresh="searchBlueprint($select)" refresh-delay="300" repeat="item in (manufactureAvailables | filter: $select.search) track by item.typeID">
                <span ng-bind="item.typeName"></span>
            </ui-select-choices>
        </ui-select>
    </div>
</section>
