<section class="content-header">
    <h1>Estimate Item</h1>
</section>

<section class="content">
<div class="row">
<div class='col-md-12'>
<div class="row">
<!-- blueprint start-->
<div class='col-md-6'>
    <div class="row">
        <div class="box box-warning">
            <div class="box-header">
                <h3 class="box-title">Blueprint</h3>
            </div>

            <div class="box-body">

                <form role="form">
                    image blueprint
                    <br/>
                    <br/>

                    <div class='col-md-6'>
                        <div class="form-group">
                            <label>ME</label>
                            <br>
                            <input id="blueprintMe" class="form-control" type="number" min="0" max="10" />
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label>TE</label>
                            <br>
                            <input id="blueprintTe" class="form-control" type="number" min="0" max="20"/>
                        </div>
                    </div>
                    <div class='col-md-12'>
                        <div class="form-group">
                            <label>RUNS</label>
                            <br>
                            <input id="blueprintRuns" class="form-control" type="number" min="1" max="999"/>
                        </div>
                    </div>


                </form>

            </div>

        </div>
    </div>
</div>
<!-- blueprint end -->
</div>
</div>
</div>
</section>
