<section class="content-header">
    <h1>Estimate Item</h1>
</section>

<section class="content">
<div class="row">
<div class='col-md-12'>
<div class="row">
<!-- blueprint start-->
<div class='col-md-5'>
    <div class="row">
        <div class="box box-warning">
            <div class="box-header">
                <h3 class="box-title">Blueprint</h3>
            </div>

            <div class="box-body">

                <form role="form">
                    <img src = "https://image.eveonline.com/Type/{{blueprint.type_id}}_32.png" alt="{{blueprint.type_id}}" />
                    {{estimateTypeName}}
                    <br/>
                    <br/>

                    <div class='col-md-6'>
                        <div class="form-group">
                            <label>ME</label>
                            <br>
                            <input id="blueprintMe" ng-model='blueprint.me' class="form-control" type="number" min="0" max="10" ng-change="changeMe()"/>
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label>TE</label>
                            <br>
                            <input id="blueprintTe" ng-model='blueprint.te' class="form-control" type="number" min="0" max="20"/>
                        </div>
                    </div>
                    <div class='col-md-12'>
                        <div class="form-group">
                            <label>RUNS</label>
                            <br>
                            <input id="blueprintRuns" ng-model='blueprint.runs' class="form-control" type="number" min="1" max="999" ng-change="changeRuns()" />
                        </div>
                    </div>


                </form>

            </div>

        </div>
    </div>
</div>
<!-- blueprint end -->
<!-- location Start-->
<div class='col-md-7'>
    <div class="box box-warning">
        <div class="box-header">
            <h3 class="box-title">Location</h3>
        </div>
        <div id="location">
            <div class="box-body">
                <form role="form">
                    <div class="form-group">
                        <label>Region</label>
                        <ui-select ng-model="mapRegion.selected" on-select="changeRegion()">
                            <ui-select-match placeholder="All Region">
                                <span ng-bind="$select.selected.regionName"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in (mapRegions | filter: $select.search) track by item.regionID">
                                <span ng-bind="item.regionName"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label>Solar System</label>
                        <ui-select ng-model="mapSolarSystem.selected" on-select="changeSolarSystem()">
                            <ui-select-match placeholder="All SolarSystem">
                                <span ng-bind="$select.selected.solarSystemName"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in (mapSolarSystems | filter: $select.search) track by item.solarSystemID">
                                <span ng-bind="item.solarSystemName"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label>System Cost Index</label>
                        :
                        {{jobCost.system_cost_index}}
                        <div class="progress sm progress-striped active">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="1" style="width: {{jobCost.system_cost_index * 1000}}%">
                                <span class="sr-only">20% Complete</span>
                            </div>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table table-condensed">
                            <tr>
                                <th>Base Job Cost</th>
                                <th>Job Fee</th>
                                <th>Facility Cost</th>
                                <th>Job Install Cost</th>
                            </tr>
                            <tr>
                                <td>
                                    {{jobCost.base_job_cost | number: 2}}
                                </td>
                                <td>
                                    {{jobCost.job_fee | number: 2}}
                                </td>
                                <td>
                                    {{jobCost.facility_cost | number: 2}}
                                </td>
                                <td>
                                    {{jobCost.total_job_cost | number: 2}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- location End-->

<!-- Material Start-->
<div class='col-md-12'>
<div class="row">

<div class='col-md-12'>
<div class="row">

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Material</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <table class="table table-condensed">
                <tr>
                    <th style="width: 40px">#</th>
                    <th>Material</th>
                    <th>Require</th>
                    <th>Jita Average</th>
                    <th>Universe Average</th>
                    <th>Volume</th>
                    <th>Price</th>
                    <th>Total Price</th>
                </tr>
                <div id="estimate-materials">
                    <tr class="nested-fields-material" ng-repeat="material in materials">
                        <td>
                            <img src="https://image.eveonline.com/Type/{{material.type_id}}_32.png" alt="{{material.type_id}}"/>
                        </td>
                        <td>
                            {{material.material_inv_type.typeName}}
                        </td>
                        <td>
                            {{material.require_count}}
                        </td>
                        <td>
                            {{material.jita_average_price}}
                        </td>
                        <td>
                            {{material.universe_average_price}}
                        </td>
                        <td>
                            {{material.total_volume | number: 2}}
                        </td>
                        <td>
                            <input ng-model="material.price" class="form-control" ng-currency currency-symbol="" ng-change="changeMaterialPrice()"/>
                        </td>
                        <td>
                            {{material.total_price | number: 2}}
                        </td>
                    </tr>
                </div>
            </table>
        </div>
        <!-- /.box-body -->

    </div>
    <!-- /.box -->

</div>
</div>

</div>
</div>
<!-- Material End-->


<!-- Estimate Result Start-->
<div class='col-md-12'>
    <div class="row">
        <div class="box box-warning">
            <div class="box-header">
                <h3 class="box-title">Estimate Result</h3>
            </div>
            <div class="row">
                <div class='col-md-6'>
                    <div id="estimate-result">
                        <div class="box-body">
                            <form role="form">
                                <div class="form-group">
                                    <label>Sell Price</label>
                                    <input ng-model="estimate.sell_price" class="form-control" ng-currency currency-symbol="" ng-change="changeSellPrice()"/>
                                </div>
                                <div class="box-body no-padding">
                                    <table class="table table-condensed">
                                        <tr>
                                            <th style="width: 40px">#</th>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Volume</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="https://image.eveonline.com/Type/{{blueprint.product.typeID}}_32.png" alt="{{blueprint.product.typeID}}"/>
                                            </td>
                                            <td>
                                                {{blueprint.product.typeName}}
                                            </td>
                                            <td>
                                                {{estimate.sell_count | number: 0}}
                                            </td>
                                            <td>
                                                {{estimate.total_volume | number: 2}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <br/>

                                <div class="box-body no-padding">
                                    <table class="table table-condensed">
                                        <tr>
                                            <th style="width: 20%">Result</th>
                                            <th style="width: 30%"></th>
                                            <th style="width: 30%"></th>
                                            <th style="width: 20%"></th>
                                        </tr>
                                        <tr>
                                            <td>
                                                Total Sell Price
                                            </td>
                                            <td></td>
                                            <td>
                                                {{estimate.sell_total_price | number: 2}}
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Total Cost
                                            </td>
                                            <td></td>
                                            <td>
                                                {{estimate.total_cost | number: 2}}
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                Job Install Cost
                                            </td>
                                            <td></td>
                                            <td>
                                                {{jobCost.total_job_cost | number: 2}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                Material Cost
                                            </td>
                                            <td></td>
                                            <td>
                                                {{estimate.material_total_cost | number: 2}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Profit
                                            </td>
                                            <td></td>
                                            <td>
                                                {{estimate.profit | number: 2}}
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Production Time
                                            </td>
                                            <td></td>
                                            <td>
                                                {{estimate.production_time | customTime}}
                                            </td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

                <div class='col-md-6'>
                    <div id="sell-order">
                        <div class="box-body">
                            <form role="form">
                                <div class="form-group">
                                    <label>Region</label>
                                    <ui-select ng-model="mapSellRegion.selected" on-select="changeMapSellRegion()">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected.regionName"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in (mapSellRegions | filter: $select.search) track by item.regionID">
                                            <span ng-bind="item.regionName"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                <h4 class="box-title">Market Sell Order</h4>

                                <div class="box-body no-padding">
                                    <table class="table table-condensed">
                                        <tr ng-show="markets.length">
                                            <th style="width: 20%">price</th>
                                            <th style="width: 20%">quantity</th>
                                            <th style="width: 50%">location</th>
                                        </tr>

                                        <tr ng-repeat="market in markets | orderBy: 'price' | limitTo:10">
                                            <td>
                                                {{market.price}}
                                            </td>
                                            <td>
                                                {{market.volume}}
                                            </td>
                                            <td>
                                                {{market.location.name}}
                                            </td>
                                        </tr>
                                        <p ng-hide="markets.length">
                                            No Data
                                        </p>
                                    </table>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Estimate Result End-->

<!-- User Skill Start -->
<div class='col-md-12'>
    <div class="row">
        <div class='col-md-12'>
            <div class="row">
                <div class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title">User Skill</h3>
                    </div>

                    <div class="box-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="radio-group">
                                    <label>Industry:</label>
                                    <input type="radio" ng-model="skill.skill_3380" value="0"> 0
                                    <input type="radio" ng-model="skill.skill_3380" value="1"> 1
                                    <input type="radio" ng-model="skill.skill_3380" value="2"> 2
                                    <input type="radio" ng-model="skill.skill_3380" value="3"> 3
                                    <input type="radio" ng-model="skill.skill_3380" value="4"> 4
                                    <input type="radio" ng-model="skill.skill_3380" value="5"> 5
                                    <p>description : Allows basic operation of factories. 4% reduction in manufacturing time per skill level.</p>
                                </div>

                                <div class="radio-group">
                                    <label>Advanced Industry:</label>
                                    <input type="radio" ng-model="skill.skill_3388" value="0"> 0
                                    <input type="radio" ng-model="skill.skill_3388" value="1"> 1
                                    <input type="radio" ng-model="skill.skill_3388" value="2"> 2
                                    <input type="radio" ng-model="skill.skill_3388" value="3"> 3
                                    <input type="radio" ng-model="skill.skill_3388" value="4"> 4
                                    <input type="radio" ng-model="skill.skill_3388" value="5"> 5
                                    <p>description : Skill at efficiently using industrial facilities. 3% reduction in all manufacturing and research times per skill level.
                                    </p>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- User Skill End -->



</div>
</div>
</div>
</section>
